.footer {
    width: 100%;
    height: 200px;
    background: layout-value(footer, bg);

    @include mq('tablet', $tablet-layout) {
        background: layout-value(footer, bg);
    }

    @include mq('phone', $phone-layout) {
        background: layout-value(footer, bg);
    }
}